body{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/tree.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover; 
}
.man{
  color: black;
  background-color: white;
  width: 100%;
  height: 70px;
  position: fixed;
}
#image1{
  width: 70px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.man1{
  margin-left: 230px;
  margin-top: -45px;
}
.we{
  width: 110px;
  height: 45px;
  margin-left: 320px;
  color: white;
  background-color: red;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}
.can{
  padding-left: 10px;
}