#woman{
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/tree.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover; 
}
.man{
  color: black;
  background-color: white;
  width: 100%;
  height: 70px;
  position: fixed;
}
#image{
  width: 70px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.man1{
  margin-left: 150px;
  margin-top: -45px;
}
.we{
  width: 110px;
  height: 45px;
  margin-left: 300px;
  color: white;
  background-color: red;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}
.we:hover{
  background-color: salmon;
}
.u{
  margin-left: 350px;
}
.ul{
  margin-top: -300px;
  color: white;
  font-size: 70px;
  margin-left: 290px;
  
}
.ui{
  margin-top: 10px;
  color: white;
  font-size: 80px;
}
.l{
  margin-top: 150px;
  color: red;
  margin-left: 230px;
  font-size: 20px;
}
.fas{
  margin-top: 60px;
  margin-left: 650px;
  font-size: 30px; 
}
.jk{
  margin-top: 50px;
  margin-left: 280px;
}
#image1{
  width: 110px;
  height: 150px;
  margin-left: 220px;
  margin-top: 30px;
}
.pi{
  margin-left: 230px;
  color: red;
  margin-top: -20px;
}
.pu{
  margin-left: 150px;
  color: brown;
}
#image2{
  width: 150px;
  height: 100px;
  margin-left: 600px;
  margin-top: -290px;
}
.pl{
  margin-left: 650px;
  color: red;
  margin-top: -100px;
}
.po{
  margin-left: 560px;
  color: brown;
}
#image3{
  width: 170px;
  height: 120px;
  margin-left: 970px;
  margin-top: -300px;
}
.rt{
  margin-left: 1050px;
  color: red;
  margin-top: -100px;
}
.rr{
  margin-left: 900px;
  color: brown;
}
.er{
  text-align: center;
  margin-top: 100px;
}
.yu{
  display: flex;
}
#image4{
  margin-left: 40px;
  margin-top: 30px;
  width: 400px;
}
#image5{
  margin-left: 20px;
  margin-top: 30px;
  width: 400px;
}
#image6{
  margin-left: 20px;
  margin-top: 30px;
  width: 400px;
}
.yi{
  display: flex;
}
.ty{
  margin-left: 140px;
  margin-top: 20px;
}
.tu{
  margin-left: 600px;
  margin-top: -40px;
}
.ti{
  margin-left: 1040px;
  margin-top: -40px;
}
.re{
  display: flex;
}
#image7{
  margin-left: 40px;
  margin-top: 50px;
  width: 400px;
}
#image8{
  margin-left: 20px;
  margin-top: 45px;
  width: 400px;
  height: 290px;
}
#image9{
  margin-left: 20px;
  margin-top: 45px;
  width: 400px;
  height: 290px;
}
.ry{
  display: flex;
}
.qq{
  margin-left: 150px;
  margin-top: 20px;
}
.qw{
  margin-left: 600px;
  margin-top: -40px;
}
.wq{
  margin-left: 1040px;
  margin-top: -40px;
}
.ac{
  display: flex;
}
#image10{
  margin-left: 40px;
  margin-top: 50px;
  width: 400px;
}
#image11{
  margin-left: 20px;
  margin-top: 45px;
  width: 400px;
  height: 240px;
}
#image12{
  margin-left: 20px;
  margin-top: 45px;
  width: 400px;
  height: 240px;
}
.cx{
  display: flex;
}
.cv{
  margin-left: 150px;
  margin-top: -40px;
}
.cb{
  margin-left: 600px;
  margin-top: -40px;
}
.cn{
  margin-left: 1040px;
  margin-top: 20px;
}
.mm{
  text-align: center;
  margin-top: 120px;
}
.nn{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/farmer.jpg);
  width: 92%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  height: 450px;
  margin-left: 50px;
}
#image13{
  width: 10%;
  margin-left: 550px;
  margin-top: 50px;
}
#image14{
  width: 10%;
  margin-left: 550px;
  margin-top: -120px;
}
.vb{
  color: white;
  margin-left: 340px;
}
.bv{
  color: white;
  margin-left: 340px;
  font-size: 18px;
}
.ww{
  color: white;
  padding-top: 10px;
}
.uu{
  width: 100px;
  height: 50px;
  background-color: red;
  border: none;
  border-radius: 7px;
  margin-left: 550px;
  margin-top: 20px;
}
.uu:hover{
  background-color: salmon;
}
.bb{
  display: flex;
  background-color: black;
  margin-top: 130px;
  height: 500px;
}
.zz{
  color: white;
  margin-left: 60px;
  margin-top: 50px;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  height: 230px;
  width: 200px;
}
.xx{
  color: white;
  margin-left: 120px;
  margin-top: 50px;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  height: 230px;
  width: 200px;
}
.hh{
  color: white;
  margin-left: 120px;
  margin-top: 50px;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  height: 230px;
  width: 200px;
}
.ss{
  margin-top: 130px;
  text-align: center;
}
.vv{
  color: white;
  margin-left: 100px;
  width: 200px;
  border-left: solid;
  border-width: 1px;
}
.fa-arrow-right{
  color: black;
  background-color: red;
  width: 50px;
  height: 30px;
  padding-left: 15px;
  padding-top: 5px;
}
.ii{
  margin-left: 10px;
  margin-top: 100px;
  height: 40px;
}
.er{
  margin-top: 30px;
  margin-left: -140px;
}
.ee{
  margin-top: 60px;
  margin-left: 18px;
}
.ll{
  margin-left: 18px;
}
.in{
  color: white;
  margin-top: 170px;
  margin-left: -230px;
}
#image15{
  width: 30px;
}